* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
  background-color: #0e1012;
  color: aliceblue;
}

.topnav {
  overflow: hidden;
  display: flex;
  align-items: column;
  background-color: #12161b;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.head {
  display: flex;
  justify-content: center;
}

.logo {
  color: #ff3e44;
  font-size: 40px;
}

.git {
  color: aliceblue;
  padding-top: 10px;
  padding-left: 70%;
}

.main {
  display: flex;
  align-items: row;
  padding-top: 1%;
  padding-left: 10%;
}

.page-heading {
  font-size: 30px;
}

.todo-form {
  display: flex;
  align-items: row;
  padding-top: 1%;
  padding-left: 10%;
}

.todo-input {
  width: 35%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  background-color: aliceblue;
  color: #ff3e44;
}

.add-button {
  width: 6%;
  background-color: aliceblue;
  color: #ff3e44;
}

.add-button:hover {
  background-color: #ff3e44;
  color: aliceblue;
}

.todo-items {
  display: flex;
  align-items: row;
  padding-top: 2%;
  padding-left: 10%;
  color: #ff3e44;
  font-size: 25px;
  font-weight: 600;
}

.checkbox {
  float: right;
  width: 100px;
}

.buttons {
  float: right;
}

.done-button {
  background-color: #006e2e;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 5px 5px;
  margin-left: 25px;
  font-size: 1.2rem;
  font-weight: 550;
}

.delete-button {
  float: right;
  background-color: #ff3e44;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 5px 5px;
  margin-left: 25px;
  font-size: 1.1rem;
  font-weight: 550;
}
